            .subscribe-button{
                background-color:rgb(200, 0,0);
                color:white;
                border:none;
                height:30px;
                width:110px;
                border-radius:2px;
                cursor:pointer;
                transition: opacity 0.5s;
                padding-left: 16px;
                padding-right:16px;
            }
           .subscribe-button:hover{
                opacity:0.8;
            }
           .subscribe-button:active{
                opacity: 0.5;
           }
          .join-button{
                height:30px;
                width:63px;   
                border-color: rgb(37, 129, 195);   
                color: rgb(37, 129, 195);   
                cursor:pointer;   
                border-style: solid;    
                border-width:1.6px;    
                border-radius:2px;
           }
           .join-button:hover{
                background-color:rgb(37, 129, 195);
                color:white;
            }
          .join-button:active{
                opacity: 0.7;
            }
          .tweet-button{
               height:30px;
               border-color: rgb(37, 129, 195);
               cursor:pointer;
               border-style: solid;
               height:30px;
               width:63px;
               color:white;
               background-color: rgb(37, 129, 195); 
               border-radius: 20px;
               font-weight: bold;
               margin-left: 8px;
               transition: box-shadow 0.15s;
            }
          .tweet-button:hover{
               box-shadow: 5px 5px 10px rgba(0,0,0,00.25);
            }     